# Project-specific
writeup/assets-results/
writeup/manuscript/_output
analysis/notebooks/quarto/output
analysis/data/


# General
.DS_Store
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Editors and IDEs
*.code-workspace
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Python
*.py[cod]
*$py.class
__pycache__/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
lcov.info
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.pybuilder/
target/

# Jupyter and IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# R
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Renviron
*.Rproj
*.Rproj*
renv/
.Rprofile
.Rproj.*
*.utf8.md
*.knit.md

# Quarto
_quarto.yml

# DVC
.dvc/
.dvcignore
params.yaml

# Node.js
/node_modules
package-lock.json

# Clojure
.clerk/
.cpcache/

# Miscellaneous
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
.pyre/
.pytype/
cython_debug/
celerybeat-schedule
celerybeat.pid
*.sage.py
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Slurm
*.out

# Nextflow
.nextflow*

# Matlab
*.asv
*.m~
*.mex*
slprj/
sccprj/
*.autosave
*.slxc

# Windows Installer files
*.stackdump

# Pipenv
#Pipfile.lock

# Poetry
#poetry.lock

# pdm
.pdm.toml
.pdm-python
.pdm-build/
#pdm.lock
__pypackages__/

# Apple Pages
*pages

# PDF
*pdf

# Temporary files
scratch*
Untitled*

# Copier
{{ _copier_conf.answers_file }}

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Fossil repositories
*.fossil
.fossil-settings/
.fossil-settings/*

# Fossil artifacts
.fslckout
.fossil-settings/
.fossil-settings/*
.fossil-settings/.*
.fossil-settings/.*/*

# Fossil working directories
.fossil/
.fossil/*

# Fossil temporary files
*.fossil-journal
*.fossil-temp


manuscript/src/index_files/
manuscript/src/index.html
