* PROJECT {{project_name}}

#+transclude: [[file:misc/meetings-{{short_name}}.org]]

#+transclude: [[file:analysis/data/data-{{short_name}}.org]]

#+transclude: [[file:analysis/notebooks/experiments-{{short_name}}.org]]

#+transclude: [[file:writeup/writeup-{{short_name}}.org]]

#+transclude: [[file:analysis/scripts/scripts-{{short_name}}.org]]

#+transclude: [[file:misc/resources-{{short_name}}.org]]
