# {{project_name}}

[![Ruff](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/ruff/main/assets/badge/v2.json)](https://github.com/astral-sh/ruff)
[![Copier](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/copier-org/copier/master/img/badge/badge-grayscale-inverted-border-orange.json)](https://github.com/copier-org/copier)
[![pre-commit](https://img.shields.io/badge/pre--commit-enabled-brightgreen?logo=pre-commit)](https://github.com/pre-commit/pre-commit)

Get started by running the following with [just](https://github.com/casey/just):

```shell
just setup
```


```
+  f$ fossil init dotfiles.fossil                                                                            (base) 
project-id: a67acde347d45a93f66154f4ea8891c6e42071b3
server-id:  bfa086f6a809ec21933305a0acae99678f89d7cc
admin-user: abhi (initial password is "FYunALczah")
```

Explore
- https://deon.drivendata.org/
